[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "==6.28.0"
python-dotenv = "==1.0.0"
numpy = "*"
torch = "*"
wandb = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
statsmodels = "*"
scikit-learn = "*"
datasets = "*"
librosa = "*"
soundfile = "*"
typing = "*"
transformers = "*"
evaluate = "*"
accelerate = "*"

[dev-packages]

[requires]
python_version = "3.11"
